<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>Verify Success</title>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/common :: common-header}">
</header>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top: 150px;">
    <div style="margin-top: 150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light text-center">
                <div class="mb-3 ">
                    <h2 class="text-dark">Email Verification Complete</h2>
                </div>
                <div>
                    <p>Thank you for verifying your email. Your account has been activated.</p>
                    <a href="/member/login">Back to login page.</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="layout/common :: common-footer">
</footer>

<!-- Script -->
</body>
</html>