<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>Book Read</title>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/common :: common-header}">
</header>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top: 150px; margin-bottom: 150px;">
    <div style="margin-top: 150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light">
                <div class="mb-3 text-center">
                    <h2 class="text-dark">Book Read</h2>
                </div>
                <hr class="my-2">
                <form id="form-register" th:method="POST" th:action="@{~/books/register}" enctype="multipart/form-data">
                    <div class="mb-2 form-floating">
                        <input type="text" class="form-control rounded-2" id="title" name="title" th:value="${book.title}" placeholder="Book Title" disabled>
                        <label for="title">Book Title</label>
                        <span class="text-danger" id="error-title"></span>
                    </div>
                    <div class="mb-2 form-floating">
                        <input type="text" class="form-control rounded-2" id="author" name="author" th:value="${book.author}" placeholder="Book Author" disabled>
                        <label for="author">Book Author</label>
                        <span class="text-danger" id="error-author"></span>
                    </div>
                    <div class="mb-2 form-floating">
                        <textarea class="form-control rounded-2" style="height: 200px;" id="content" name="content" th:text="${book.content}" placeholder="Book Content" disabled></textarea>
                        <label for="content">Book Content</label>
                        <span class="text-danger" id="error-content"></span>
                    </div>
                    <div class="mb-2 form-floating">
                        <input type="date" class="form-control rounded-2" id="date" name="datePublish" th:value="${book.datePublish}" placeholder="Book Publish Date" disabled>
                        <label for="date">Book Publish Date</label>
                        <span class="text-danger" id="error-date"></span>
                    </div>
                    <div class="mb-2 form-floating">
                        <select class="form-control rounded-2 mb-2" id="type" name="type" th:field="${book.type}" disabled>
                            <option value="NONE">NONE</option>
                            <option value="ESSAY">ESSAY</option>
                            <option value="NOVEL">NOVEL</option>
                            <option value="POEM">POEM</option>
                            <option value="STUDY">STUDY</option>
                        </select>
                        <label for="type">Type</label>
                        <span class="text-danger" id="error-type"></span>
                    </div>
                    <hr class="my-2"/>
                    <div class="mb-2">
                        <img th:src="@{|/images/${image}|}" class="rounded mx-auto d-block mb-2" id="preview" style="width: 200px; height: 200px;">
                        <input type="file" class="form-control rounded-2 mb-2" id="image" name="image" accept="image/png, image/jpeg" disabled>
                        <span class="text-danger" id="error-image"></span>
                    </div>
                    <hr class="my-2">
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-dark btn-lg" id="btn-register">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="~{layout/common :: common-footer}">
</footer>

<!-- Common script -->
<script th:replace="~{layout/common :: common-script}">
</script>

<!-- Page script -->
<script>

</script>
</body>
</html>