<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>패스워드 변경</title>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/common :: common-header}">
</header>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top: 150px;">
    <div style="margin-top: 150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light">
                <div class="mb-3 text-center">
                    <h2 class="text-dark">Change Password</h2>
                </div>
                <hr class="my-2"/>
                <form id="form-change-password" th:method="post" th:action="@{~/member/support/change-password}">
                    <div class="mb-2 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mb-2 form-floating">
                        <input type="password" class="form-control" id="password-check" name="password-check" placeholder="Verify Password">
                        <label for="password-check">Verify Password</label>
                    </div>
                    <div class="mb-3">
                        <span class="text-danger" id="error"></span>
                    </div>
                    <div>
                        <button type="button" class="form-control btn btn-dark btn-lg" id="btn-change">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="layout/common :: common-footer">
</footer>

<!-- Common Script -->
<script th:replace="layout/common :: common-script">
</script>

<!-- Page Script -->
<script>
    let button = document.getElementById("btn-change");
    let error = document.getElementById("error");

    button.addEventListener("click", () => {
        let passwordValue = document.getElementById("password").value;
        let passwordCheckValue = document.getElementById("password-check").value;

        if (checkAll(passwordValue, passwordCheckValue)) {
            if (confirm("Change your password?")) {
                let form = document.getElementById("form-change-password");
                form.submit();
            }
        }
    });

    function checkAll(passwordValue, passwordCheckValue) {
        if (!checkUndefined(passwordValue, passwordCheckValue)) {
            error.innerText = "Enter your new password, verify password.";
            return false;
        }

        if (!checkEquals(passwordValue, passwordCheckValue)) {
            error.innerText = "Password does not match.";
            return false;
        }

        if (!checkRequires(passwordValue)) {
            error.innerText = "Password must at least 8 characters, contain lowercase, uppercase, special characters.";
            return false;
        }

        error.innerText = "";
        return true;
    }

    function checkUndefined(passwordValue, passwordCheckValue) {
        return !(passwordValue.length === 0) || !(passwordCheckValue.length === 0);
    }

    function checkEquals(passwordValue, passwordCheckValue) {
        return passwordValue === passwordCheckValue;
    }

    function checkRequires(passwordValue) {
        const regexp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
        return regexp.test(passwordValue);
    }
</script>
</body>
</html>