<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
  <title>패스워드 변경</title>
</head>
<body>
  <div class="container">
    <form id="form-change-password" th:method="post" th:action="@{~/member/support/change-password}">
      <h3>패스워드 변경</h3>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
      </div>
      <div class="mb-1">
        <input type="password" class="form-control" id="password-check" name="password-check" placeholder="비밀번호 확인">
      </div>
      <div class="mb-3">
        <span class="text-danger" id="error"></span>
      </div>
      <div>
        <button type="button" class="btn-primary" id="btn-change">비밀번호 변경</button>
      </div>
    </form>
  </div>

  <script>
    let button = document.getElementById("btn-change");
    let error = document.getElementById("error");

    button.addEventListener("click", () => {
      let passwordValue = document.getElementById("password").value;
      let passwordCheckValue = document.getElementById("password-check").value;

      if(checkAll(passwordValue, passwordCheckValue)) {
        if(confirm("비밀번호를 변경하겠습니까?")) {
          let form = document.getElementById("form-change-password");
          form.submit();
        }
      }
    });

    function checkAll(passwordValue, passwordCheckValue) {
      if(!checkUndefined(passwordValue, passwordCheckValue)) {
        error.innerText = "비밀번호와 비밀번호 확인을 입력하세요.";
        return false;
      }

      if(!checkEquals(passwordValue, passwordCheckValue)) {
        error.innerText = "비밀번호가 일치하지 않습니다.";
        return false;
      }

      if(!checkRequires(passwordValue)) {
        error.innerText = "비밀번호는 8자 이상이고, 하나의 소문자, 대문자, 특수문자를 포함해야 합니다.";
        return false;
      }

      error.innerText = "";
      return true;
    }

    function checkUndefined(passwordValue, passwordCheckValue) {
      return !(passwordValue.length === 0) || !(passwordCheckValue.length === 0);
    }

    function checkEquals(passwordValue, passwordCheckValue) {
      return passwordValue === passwordCheckValue;
    }

    function checkRequires(passwordValue) {
      const regexp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
      return regexp.test(passwordValue);
    }
  </script>
</body>
</html>