<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>Login</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="~{layout/common :: common-nav}">
</div>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top:150px;">
    <div style="margin-top:150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light">
                <div class="mb-3 text-center">
                    <h2 class="text-dark">Login</h2>
                </div>
                <hr class="my-2"/>
                <form id="form-login" th:method="POST" th:action="@{~/member/login}">
                    <div class="mb-2 form-floating">
                        <input type="email" class="form-control rounded-2" id="email" name="username" placeholder="Email Address">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="mb-2 form-floating">
                        <input type="password" class="form-control rounded-2" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                        <span class="text-danger" id="error"></span>
                    </div>
                    <hr class="my-2"/>
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-dark btn-lg" id="btn-login">LOGIN</button>
                    </div>
                    <hr class="my-2"/>
                    <div>
                        <a href="/member/register">Dont you have an account?</a>
                    </div>
                    <div>
                        <a href="/member/support/find-password">Forgot your account?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Common Script -->
<script th:replace="layout/common :: common-script">
</script>

<!-- Page Script -->
<script>
    let buttonLogin = document.getElementById("btn-login");
    let buttonRegister = document.getElementById("btn-register");
    let buttonHelp = document.getElementById("btn-help");
    let error = document.getElementById("error");

    buttonLogin.addEventListener("click", () => {
        let emailValue = document.getElementById("email").value;
        let passwordValue = document.getElementById("password").value;

        checkAll(emailValue, passwordValue);
    });

    buttonRegister.addEventListener("click", () => {
        location.href="/member/register";
    });

    buttonHelp.addEventListener("click", () => {
        location.href="/member/help";
    });

    function checkAll(emailValue, passwordValue) {
        if(!checkUndefined(emailValue, passwordValue)) {
            error.innerText = "Enter your ID and Password.";
            return false;
        }

        checkByServer(emailValue, passwordValue);
    }

    function checkUndefined(emailValue, passwordValue) {
        return !(emailValue.length === 0) || !(passwordValue.length === 0);
    }

    function checkByServer(emailValue, passwordValue) {
        let data = {
            email: emailValue,
            password: passwordValue
        };

        fetch("/api/v1/member/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if(response.ok) {
                    return response.json();
                }else {
                    throw new Error("Connection error has occurred.");
                }
            })
            .then(responseData => {
                if(responseData.isValid === true) {
                    let form = document.getElementById("form-login");
                    form.submit();
                }else {
                    error.innerText = "Wrong ID or Password.";
                    return false;
                }
            })
            .catch(error => {
                error.innerText = error.message;
                return false;
            });
    }
</script>
</body>
</html>