<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: common-head}">
    <title>프로필</title>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/common :: common-header}">
</header>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top: 150px;">
    <div style="margin-top: 150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light">
                <div class="mb-3 text-center">
                    <h2 class="text-dark">
                        <span sec:authentication="name"></span>'sProfile
                    </h2>
                </div>
                <hr class="my-2"/>
                <div class="mb-2">
                    <button type="button" class="form-control btn btn-dark btn-lg" id="btn-logout">Logout</button>
                </div>
                <hr class="my-2"/>
                <div class="mb-2">
                    <button type="button" class="form-control btn btn-dark btn-lg" id="btn-change-password">Change Password</button>
                </div>
                <hr class="my-2"/>
                <div class="mb-2">
                    <form id="form-withdraw" th:method="post" th:action="@{~/member/withdraw}">
                        <button type="submit" class="form-control btn btn-danger btn-lg" id="btn-withdraw">Withdraw Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="layout/common :: common-footer">
</footer>

<!-- Common Script -->
<script th:replace="layout/common :: common-script">
</script>

<!-- Page Script -->
<script>
    let buttonLogout = document.getElementById("btn-logout");
    let buttonChange = document.getElementById("btn-change-password");
    let buttonWithdraw = document.getElementById("btn-withdraw");

    buttonLogout.addEventListener("click", () => {
        if (confirm("Do you want logout?")) {
            location.href = "/member/logout";
        }
    });

    buttonChange.addEventListener("click", () => {
        location.href = "/member/support/change-password";
    });

    buttonWithdraw.addEventListener("click", () => {
        if (confirm("Are you sure withdraw your account?")) {
            let form = document.getElementById("form-withdraw");
            form.submit();
        }else {
            return false;
        }
    });
</script>
</body>
</html>