<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>Register</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="~{layout/common :: common-nav}">
</div>

<!-- Main -->
<div class="container-fluid vh-100" style="margin-top: 150px;">
    <div style="margin-top: 150px;">
        <div class="d-flex justify-content-center">
            <div class="col-sm-6 col-lg-4 rounded-2 shadow-lg p-5 bg-light">
                <div class="mb-3 text-center">
                    <h2 class="text-dark">Registration</h2>
                </div>
                <hr class="my-2"/>
                <form id="form-register" th:method="POST" th:action="@{~/member/register}">
                    <div class="mb-2 form-floating">
                        <input type="email" class="form-control rounded-2" id="email" name="email" placeholder="Email Address">
                        <label for="email">Email Address</label>
                        <span class="text-danger" id="error-email"></span>
                    </div>
                    <hr class="my-2"/>
                    <div class="mb-2 form-floating">
                        <input type="password" class="form-control rounded-2" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mb-2 form-floating">
                        <input type="password" class="form-control rounded-2" id="password-check" name="password-check" placeholder="Verify Password">
                        <label for="password-check">Verify Password</label>
                        <span class="text-danger" id="error-password"></span>
                    </div>
                    <hr class="my-2"/>
                    <div class="mb-2 form-floating">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                        <label for="phone">Phone Number</label>
                        <span class="text-danger" id="error-phone"></span>
                    </div>
                    <hr class="my-2"/>
                    <div class="mb-2">
                        <button type="button" class="form-control btn btn-dark btn-lg" id="btn-register">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Common Script -->
<script th:replace="layout/common :: common-script">
</script>

<!-- Page Script -->
<script>
    let buttonRegister = document.getElementById("btn-register");
    let errorPassword = document.getElementById("error-password");
    let errorPhone = document.getElementById("error-phone");
    let errorEmail = document.getElementById("error-email");

    buttonRegister.addEventListener("click", () => {
        checkAll();
    });

    function checkAll() {
        let emailValue = document.getElementById("email").value;
        let passwordValue = document.getElementById("password").value;
        let passwordCheckValue = document.getElementById("password-check").value;
        let phoneValue = document.getElementById("phone").value;
        let isValid = true;

        if(!checkEmail(emailValue)) {
            isValid = false;
        }

        if(!checkPassword(passwordValue, passwordCheckValue)) {
            isValid = false;
        }

        if(!checkPhone(phoneValue)) {
            isValid = false;
        }

        if(isValid) {
            let form = document.getElementById("form-register");
            form.submit();
        }
    }

    function checkEmail(emailValue) {
        if(emailValue.length === 0) {
            errorEmail.innerText = "Enter your email address.";
            return false;
        }

        errorEmail.innerText = "";
        return checkByServer(emailValue);
    }

    function checkPassword(passwordValue, passwordCheckValue) {
        const regexp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

        if(passwordValue.length === 0 || passwordCheckValue.length === 0) {
            errorPassword.innerText = "Enter your password, verify password.";
            return false;
        }

        if(!(passwordValue === !passwordCheckValue)) {
            errorPassword.innerText = "Password does not match."
        }

        if(!regexp.test(passwordValue)) {
            errorPassword.innerText = "Password must at least 8 characters, contain lowercase, uppercase, special characters.";
            return false;
        }

        errorPassword.innerText = "";
        return true;
    }

    function checkPhone(phoneValue) {
        const regexp = /^01([0|1|6|7|8|9])([0-9]{3,4})([0-9]{4})$/;

        if(phoneValue.length === 0) {
            errorPhone.innerText = "Enter your phone numbers.";
            return false;
        }

        if(!regexp.test(phoneValue)) {
            errorPhone.innerText = "Phone numbers must contain only numbers.";
            return false;
        }

        errorPhone.innerText = "";
        return true;
    }

    async function checkByServer(emailValue) {
        let data = {
            email: emailValue
        };

        try {
            const response = await fetch("/api/v1/member/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if(response.ok) {
                const responseData = await response.json();
                if(!responseData.isExists) {
                    errorEmail.innerText = "";
                    return true;
                }else {
                    errorEmail.innerText = "This email already used by another accounts.";
                    return false;
                }
            }else {
                throw new Error("Connection error has occurred.");
            }
        }catch(error) {
            errorEmail.innerText = error.message;
            return false;
        }
    }
</script>
</body>
</html>